.side-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    color: var(--white);
    background: var(--black);
    border-top: 1px solid var(--white);
    padding: 0;

    .side-bar-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 32px 17px;

        .nav-box .nav-opened {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
        }
    }
}

.big-box {
    width: 240px;
    justify-content: flex-start;
}

.nav-btn {
    display: flex;
    width: 100%;
    background: none;
    border: 0;
    border-radius: 18px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;

    &:hover {
        background-color: var(--dark-grey);
    }

    &:disabled {
        cursor: default;
        background: none;
    }

    .nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        height: 36px;
        width: 36px;
        border: 0;
        color: var(--white);
        background: none;
    }

    p {
        text-align: start;
        padding-right: 16px;
    }
}

.nav-btn-selected {
    border-radius: 0;
    border-bottom: 1px solid var(--white);
}
