<div class="side-bar-container" [ngClass]="sideBarOpened ? 'big-box' : 'small-box'">
    <div class="side-bar-box">
        <div class="small-nav">
            <button class="nav-icon" (click)="openSideBar()">
                <i [class]="arrowClass"></i>
            </button>
            <button *ngFor="let nav of navList" class="nav-icon" (click)="navigate(nav.link)">
                <i [class]="nav.icon"></i>
            </button>
        </div>
        <div *ngIf="sideBarOpened" class="nav-opened">
            <div>
                <p>Close Sidebar</p>
            </div>
            <div *ngFor="let nav of navList">
                <button class="side-bar-buttons" (click)="navigate(nav.link)">
                    <p>{{ nav.name }}</p>
                </button>
            </div>
        </div>
    </div>
</div>
