<div class="side-bar-container" [ngClass]="sideBarOpened ? 'big-box' : 'small-box'">
    <div class="side-bar-box">
        <div class="small-nav">
            <button class="nav-icon" (click)="openSideBar()">
                <i [class]="arrowClass"></i>
            </button>
            <button class="nav-icon" (click)="navigate('/admin')">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="nav-icon" (click)="navigate('/admin/users')">
                <i class="fa-regular fa-user"></i>
            </button>
        </div>
        <div *ngIf="sideBarOpened" class="nav-opened">
            <div>
                <p>Close Sidebar</p>
            </div>
            <div *ngFor="let nav of navList">
                <div class="">
                    <p>{{ nav.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
