<div class="side-bar-container" [ngClass]="{'big-box' : sideBarOpened}">
    <div class="side-bar-box">
        <div class="nav-box">
            <button class="nav-btn" [ngClass]="{'nav-opened' : sideBarOpened}" (click)="openSideBar()">
                <i class="nav-icon" [class]="arrowClass"></i>
                <p *ngIf="sideBarOpened">Close Sidebar</p>
            </button>
        </div>
        <div *ngFor="let nav of navList" class="nav-box">
            <button class="nav-btn" [ngClass]="{'nav-opened' : sideBarOpened}" (click)="navigate(nav.link)">
                <i class="nav-icon" [class]="nav.icon"></i>
                <p *ngIf="sideBarOpened">{{ nav.name }}</p>
            </button>
        </div>
    </div>
</div>
