.card-box {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background: var(--second);

    .card-image{
        width: 100%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 24px;
    }
}