<div class="page-container">
    <div class="container">
        <div class="headings">
            <button><h1 class="title">Login</h1></button>
            <button><h1 class="title">Sign Up</h1></button>
        </div>

        <form [formGroup]="isLogin ? loginForm : signUpForm" class="form">
            <input formControlName="email" class="input input-accent-lined" placeholder="Enter email"/>
            <app-input-error [validator]="getControl('email')"></app-input-error>

            <input formControlName="password" [type]="showPassword ? 'password' : 'text'" matInput placeholder="enter your password" required>
            <button (click)="showPassword = !showPassword">
                <i class="fa-regular" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </button>
            <app-input-error [validator]="getControl('password')"></app-input-error>
            
            <button [disabled]="isLogin ? loginForm.invalid : signUpForm.invalid" class="btn btn-accent" (click)="isLogin ? login() : signUp()">Submit</button>
        </form>
    </div>
</div>
