<div class="card-container">
    <div class="card-image">
        <div *ngIf="canEdit" class="edit-box">
            <button class="btn-icon-light btn-edit" (click)="openEditProducts()">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
        </div>
        <img class="img" [src]="product.imagePath" [alt]="product.brand + product.material + product.type"/>
    </div>
    <div class="card-box">
        <div class="card-text">
            <h4 class="brand">{{ product.brand }}</h4>
            <p class="name"><span>{{ product.collectionName }}</span> - {{ product.material }} {{ product.type }}</p>
        </div>
        <p class="price">{{ product.currency | currency }} {{ product.price }},00</p>
    </div>
</div>
