.error-snackbar {
    background-color: var(--danger);
    color: var(--white);
    border-radius: 6px;
}

.attention-snackbar {
    background-color: var(--accent);
    color: var(--black);
    border-radius: 6px;
}
  
.success-snackbar {
    background-color: var(--white);
    color: var(--black);
    border-radius: 6px;
}