.adv-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




@media only screen and (max-width: 1600px) {
    .adv-box {
        width: 220px;
    }
}

@media only screen and (max-width: 1280px) {
    .adv-box {
        width: 180px;
    }
}