.adv-box {
    display: flex;
    flex-direction: column;
    width: 290px;
    text-align: center;
    gap: 24px;

    .text-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}