<div class="admin-container">
    <app-side-bar></app-side-bar>
    <div class="products-container">
        <div class="products-header">
            <h2>Brands</h2>
            <div class="prod-buttons">
                <button class="btn btn-accent" (click)="openBrandDialog(false)">Add Brand</button>
            </div>
        </div>
        <div *ngIf="brands" class="prod-section">
            <p>You added {{ totalElements }} brands</p>
            <div class="products-box">
                <app-brand-card *ngFor="let brand of brands" [brand]="brand" [canEdit]="true"></app-brand-card>
            </div>
        </div>
    </div>
</div>
