.articles,
.products,
.sale-products,
.recommended {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 84px 0;
}

.articles,
.products,
.recommended {
    background-color: var(--accent);
}

.sale-products {
    background-color: var(--second);
}

.box {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

    .articles-cards,
    .cards {
        display: flex;
        gap: 90px;
    }

    .small-text {
        font-weight: 300;
        font-size: 14px;
    }
}

.cards {
    display: flex;
}

@media only screen and (max-width: 1600px) {
    .box {
        max-width: 1260px;
    }
}
