.articles,
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 84px 0;
}

.articles {
    background-color: var(--accent);

    .box {
        gap: 72px;
    
        .articles-cards {
            display: flex;
            gap: 90px;
        }
    
        .small-text {
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.box,
.text-box {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    gap: 24px;
}

@media only screen and (max-width: 1600px) {
    .box,
    .text-box {
        max-width: 1260px;
    }
}
