.item-container {
    display: flex;
    padding: 12px;
    gap: 12px;
    width: 100%;

    .item-image {
        position: relative;
        width: 140px;
        height: 140px;

        .img {
            width: 140px;
        }

        .button-icon-box {
            position: absolute;
            top: 4px;
            right: 4px;

            .icon-sale {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 18px;
                width: 34px;
                border-radius: 9px;
                background: var(--danger);
                font-size: 10px;
            }
        }
    }

    .item-details {
        display: flex;
        width: 100%;
        gap: 24px;

        .info {
            display: flex;
            gap: 24px;
            width: 100%;

            .section {
                display: flex;
                flex-direction: column;
                padding-top: 8px;
                border-right: 2px solid var(--light-grey);
            }

            .details-prod {
                width: 100%;
            }
        }

        .button-icon-box {
            display: flex;
            padding: 12px 12px 0 0;
            gap: 6px;

            .btn-icon-white {
                border: 2px solid var(--light-grey);
        
                &:hover {
                    border: 2px solid var(--accent);
                }
            }
        }
    }
}

.item-box {
    display: flex;

    .item-text {
        width: 160px;
        font-size: 14px;
        text-align: start;
        color: var(--grey);
    }

    .price-text,
    .red-text {
        width: 110px;
    }

    .red-text {
        color: var(--danger);
    }

    .full-price {
        font-size: 14px;
        text-decoration: line-through;
    }

    .tags-box {
        display: flex;
        gap: 6px;

        .array-item {
            display: flex;
            align-items: center;
            font-size: 12px;
            padding: 0 10px;
            border-radius: 12px;
            background-color: var(--accent);
        }
    }
}

.dimension-box {
    .label {
        width: 100px;
    }

    .item-text {
        width: 90px;
        font-size: 14px;
        text-align: start;
        color: var(--grey);
    }
}

.label {
    width: 120px;
    text-align: start;
    font-weight: 700;
    font-size: 16px;
}

.box-with-array {
    margin-bottom: 12px;

    .label {
        display: flex;
        align-items: center;
        padding: 0;
    }
}

@media only screen and (max-width: 1600px) {
    .item-container .item-image {
        width: 120px;
        height: 120px;

        .img {
            width: 120px;
        }
    }
}
