<div class="item-container">
    <div class="item-image">
        <img class="img" [src]="product.imagePath" [alt]="product.brand + product.details.materials[0] + product.type"/>
        <div *ngIf="product.price.isOnSale" class="button-icon-box">
            <div class="icon-sale">- {{product.price.discount}}%</div>
        </div>
    </div>
    <div class="item-details">
        <div class="info">
            <div class="section">
                <div class="item-box">
                    <label class="label">Category:</label>
                    <p class="item-text">{{ product.category }}</p>
                </div>
                <div class="item-box">
                    <label class="label">Type:</label>
                    <p class="item-text">{{ product.type }}</p>
                </div>
                <div class="item-box">
                    <label class="label">Brand:</label>
                    <p class="item-text">{{ product.brand }}</p>
                </div>
                <div class="item-box">
                    <label class="label">Collection:</label>
                    <p class="item-text uppercase-text">{{ product.details.collectionName }}</p>
                </div>
                <div class="item-box">
                    <label class="label">Code:</label>
                    <p class="item-text uppercase-text">{{ product.details.productCode }}</p>
                </div>
            </div>
            <div class="section">
                <div class="item-box">
                    <label class="label">Height:</label>
                    <p class="item-text item-dimension">{{ product.dimensions.height }} {{ product.dimensions.measurementUnits }}</p>
                </div>
                <div *ngIf="product.dimensions.width" class="item-box">
                    <label class="label">Width:</label>
                    <p class="item-text item-dimension">{{ product.dimensions.width }} {{ product.dimensions.measurementUnits }}</p>
                </div>
                <div *ngIf="product.dimensions.depth" class="item-box">
                    <label class="label">Depth:</label>
                    <p class="item-text item-dimension">{{ product.dimensions.depth }} {{ product.dimensions.measurementUnits }}</p>
                </div>
                <div *ngIf="product.dimensions.diameter" class="item-box">
                    <label class="label">Diameter:</label>
                    <p class="item-text item-dimension">{{ product.dimensions.diameter }} {{ product.dimensions.measurementUnits }}</p>
                </div>
            </div>
            <div class="section details-prod">
                <div class="item-box">
                    <label class="label">Shape:</label>
                    <p class="item-text">{{ product.details.shape }}</p>
                </div>
                <div class="item-box box-with-array">
                    <label class="label">Materials:</label>
                    <div class="tags-box">
                        <p class="array-item" *ngFor="let material of product.details.materials">{{ material }}</p>
                    </div>
                </div>
                <div class="item-box box-with-array">
                    <label class="label">Extras:</label>
                    <div class="tags-box">
                        <p class="array-item" *ngFor="let extra of product.details.extras">{{ extra }}</p>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="item-box">
                    <label class="label">{{product.price.isOnSale ? 'Sale price:' : 'Full price:'}}</label>
                    <p class="item-text red-text">{{ product.price.currency | currency }} {{ product.price.isOnSale ? product.price.discountedPrice : product.price.fullPrice }},00</p>
                </div>
                <div *ngIf="product.price.isOnSale" class="item-box">
                    <label class="label">Full price:</label>
                    <span class="price-text full-price">{{ product.price.currency | currency }} {{product.price.fullPrice}},00</span>
                </div>
                <div class="item-box">
                    <label class="label">In stock:</label>
                    <p class="item-text price-text">{{ product.inStock }}</p>
                </div>
            </div>
        </div>
        <div class="button-icon-box">
            <button class="btn-icon btn-icon-white" (click)="openEditProducts()">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn-icon btn-icon-danger" (click)="deleteProduct()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
</div>

