.dialog-container {
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 24px;

    .dialog-body {
        display: flex;
        flex-direction: column;
        padding: 12px 0;
        gap: 24px;

        .add-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .add-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                gap: 8px;

                .input-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    p {
                        margin: 2px 0 6px;
                    }

                    .list-box {
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 6px;

                        .list {
                            display: flex;
                            align-items: center;
                            padding: 4px 8px;
                            margin-bottom: 4px;
                            border-radius: 12px;
                            background-color: var(--accent);
                            font-size: 12px;
                            gap: 4px;
                            cursor: pointer;
                            transition: background-color 0.4s ease-in-out;

                            &:hover {
                                background-color: var(--accent-click);
                            }
                        }
                    }
                }
            }
        }
    }
}

.edit-input {
    display: flex;
    align-items: center;
    border: 2px solid var(--grey);
    border-radius: 6px;

    .input {
        display: flex;
        width: 262px;
        border: 0;
        outline: 0;
    }

    .btn-icon {
        width: 32px;
        height: 32px;
    }

    .save {
        transition: background-color 0.4s ease-in-out;
        &:hover {
            background-color: var(--accent);
        }
    }
}

.item-box {
    margin-bottom: 6px;

    .item {
        display: flex;
        justify-content: space-between;
        gap: 4px;
    
        .buttons-box {
            display: flex;
            gap: 4px;
        }
    }
}

.btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.btn-accent {
    padding: 16px 20px;
}

h2 {
    text-align: center;
    font-size: 42px;
}

h3 {
    margin-bottom: 8px;
}