<div class="dialog-container">
    <div>
        <h2>{{ dialogTitle }} Product</h2>
        <button mat-dialog-close class="btn-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="dialog-body" mat-dialog-content>
        <form [formGroup]="prodForm" class="form">
            <div *ngIf="isEditing" class="img-preview">
                <img [src]="editImage"/>
            </div>
            <div class="prod-image-box">
                <button class="btn btn-accent" (click)="filePicker.click()">Select Image</button>
                <input formControlName="image" type="file" #filePicker hidden (change)="onImagePicked($event)"/>
                <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    format="png"
                    [resizeToHeight]="980"
                    [resizeToWidth]="980"
                    (imageCropped)="imageCropped($event)"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>
            <div class="prod-description-box">
                <select formControlName="category" class="select select-accent-lined">
                    <option value="" disabled selected hidden>Select category</option>
                    <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                </select>
                <select formControlName="type" class="select select-accent-lined" [ngClass]="{'disabled-select' : !types.length}">
                    <option value="" disabled selected hidden>Select type</option>
                    <option *ngFor="let type of types" [value]="type.typeName">{{ type.typeName }}</option>
                </select>
                <select formControlName="material" class="select select-accent-lined" [ngClass]="{'disabled-select' : !materials.length}">
                    <option value="" disabled selected hidden>Select material</option>
                    <option *ngFor="let material of materials" [value]="material">{{ material }}</option>
                </select>
                <select formControlName="shape" class="select select-accent-lined" [ngClass]="{'disabled-select' : !shapes.length}">
                    <option value="" disabled selected hidden>Select shape</option>
                    <option *ngFor="let shape of shapes" [value]="shape">{{ shape }}</option>
                </select>
                <select formControlName="extras" class="select select-accent-lined" [ngClass]="{'disabled-select' : !extras.length}">
                    <option value="" disabled selected hidden>Select extra</option>
                    <option *ngFor="let extra of extras" [value]="extra">{{ extra }}</option>
                </select>
                <select formControlName="brand" class="select select-accent-lined">
                    <option value="" disabled selected hidden>Select brand</option>
                    <option *ngFor="let brand of brands" [value]="brand.name">{{ brand.name }}</option>
                </select>
                <input formControlName="collectionName" class="input input-accent-lined" placeholder="Enter collection name"/>
                <input formControlName="amount" type="number" class="input input-accent-lined" placeholder="Enter product amount"/>
                <input formControlName="price" type="number" class="input input-accent-lined" placeholder="Enter product price"/>
                <select formControlName="currency" class="select select-accent-lined">
                    <option value="" disabled selected hidden>Select currency</option>
                    <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                </select>
                <input formControlName="productCode" class="input input-accent-lined" placeholder="Enter product code"/>
                <input formControlName="year" type="number" class="input input-accent-lined" placeholder="Enter year"/>
                <input formControlName="designer" class="input input-accent-lined" placeholder="Enter designer name"/>
                <div>
                    <h3>Product is on sale?</h3>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        formControlName="isOnSale"
                    >
                        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="getControl('isOnSale')?.value">
                        <div class="example-label-container">
                            <label id="example-name-label" class="example-name-label">Value</label>
                            <label class="example-value-label">{{ getControl('sale').value }}</label>
                        </div>
                        <mat-slider
                            class="example-margin"
                            [max]="95"
                            [min]="5"
                            [step]="5"
                            [discrete]="false"
                            [showTickMarks]="true">
                        <input matSliderThumb formControlName="sale">
                        </mat-slider>
                    </div>
                </div>
            </div>

            <button [disabled]="!prodForm.valid" class="btn btn-accent" (click)="addProduct()">Add product</button>
        </form>
    </div>
</div>
