<div class="dialog-container">
    <div class="header">
        <h2>{{ dialogTitle }} Product</h2>
        <button mat-dialog-close class="btn-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="prodForm" class="form">
    
            <select class="select" formControlName="category">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
            <input class="input input-subs" placeholder="Insert your email address"/>
    
            <button class="btn btn-accent">Add product</button>
        </form>
    </div>
</div>
