<div class="dialog-container">
    <div class="header">
        <h2 class="diatog-title">{{ title }}</h2>
        <button mat-dialog-close class="close-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <p>Add product category</p>
</div>
<!-- <div mat-dialog-content>
    <form [formGroup]="categotyForm" class="form">
        <div>
            <label>Category name</label>
            <input formControlName="name" class="input" placeholder="Enter category name"/>
        </div>

        <button class="btn" (click)="addCategory()">Add categoty</button>
    </form>
    <div *ngFor="let category of categories">
        <p>{{ category.name }}</p>
        <button class="btn" (click)="deleteCategory(category.id)">Delete</button>
    </div>
</div> -->
