.admin-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 70px;
    background: var(--light-grey);

    .products-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 70px);
        padding: 24px;
        gap: 24px;

        .products-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px;
            border-radius: 6px;
            background-color: var(--white);
        }

        .prod-section {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 231px);
            border-radius: 6px;
            padding: 24px;
            gap: 24px;
            background-color: var(--white);

            p {
                display: flex;
                margin-bottom: 0;
            }

            .products-box {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                gap: 24px;

                .item {
                    display: flex;
                    width: 100%;
                    border: 2px solid var(--light-grey);
                    border-radius: 6px;
                }
            }
        }
    }
}

.btn-gear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 44px;
    height: 44px;
}

.menu-container {
    top: 172px;
    right: 55px;
    z-index: 12;
}
