.admin-container {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background: var(--light-grey);

    .products-container {
        width: 100%;
        overflow-y: scroll;

        .products-header {
            display: flex;
            justify-content: space-between;
            margin: 24px;
            padding: 18px;
            border-radius: 6px;
            background-color: var(--white);

            .prod-buttons {
                display: flex;
                gap: 16px;
            }
        }

        .prod-section {
            display: flex;
            flex-direction: column;
            margin: 24px;
            border-radius: 6px;
            background-color: var(--white);

            p {
                display: flex;
                margin: 24px;
                margin-bottom: 0;
            }

            .products-box {
                display: flex;
                flex-direction: column;
                margin: 24px;
                gap: 24px;

                .item {
                    display: flex;
                    width: 100%;
                    border: 2px solid var(--light-grey);
                }
            }
        }
    }
}

.btn-gear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 44px;
    height: 44px;
}

.menu-container {
    top: 172px;
    right: 55px;
    z-index: 12;
}
