<div class="about-banner">
    <div class="about-box">
        <img class="img-about" src="/assets/img/homepage-what-is-arch.png"/>
        <div class="about-content">
            <div>
                <h1>What is</h1>
                <h1>Archiproduct</h1>
            </div>
            <p class="desc">Archiproducts is the world's largest informative and inspirational source for architecture and design. 1,000 Architects, decorators, designers, resellers, manufacturers, buyers and design lovers, join archiproducts every day to find products and get inspired.</p>
            <div class="statistics-box">
                <div class="statistic">
                    <p>250 000</p>
                    <p>products</p>
                </div>
                <div class="statistic">
                    <p>250 000</p>
                    <p>products</p>
                </div>
                <div class="statistic">
                    <p>250 000</p>
                    <p>products</p>
                </div>
                <div class="statistic">
                    <p>250 000</p>
                    <p>products</p>
                </div>
            </div>
        </div>
    </div>
</div>
