@use '@angular/material' as mat;
@include mat.core();

$archiprod-primary: mat.define-palette(mat.$deep-orange-palette);
$archiprod-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$archiprod-warn: mat.define-palette(mat.$red-palette);

$archiprod-theme: mat.define-light-theme((
  color: (
    primary: $archiprod-primary,
    accent: $archiprod-accent,
    warn: $archiprod-warn,
  )
));
@include mat.all-component-themes($archiprod-theme);

:root {
    --black: rgb(31, 31, 31);
    --dark-grey: rgb(58, 58, 58);
    --grey: #979797;
    --ternary-grey: #c9c9c9;
    --med-grey: #e2e2e2;
    --light-grey: #EEEEEE;
    --white: rgb(255, 255, 255);
    --accent: #F2CF8D;
    --accent-click: #EBB26C;
    --second: #ADC1C6;
    --danger: #FF7474;
    --danger-hover: #f05e5e;
    --success: #35BF30;
}

// Scrollbar style

::-webkit-scrollbar {
    width: 16px;
}
   
::-webkit-scrollbar-track {
    background-color: var(--light-grey);
}
   
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent;
    background-color: var(--grey);
    background-clip: content-box;
}

// Typography style

h1 {
    font-size: 72px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

.label {
    font-size: 12px;
    color: var(--black);
    padding-bottom: 8px;
}

// Buttons style

.btn {
    height: 44px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;

    &:hover:enabled {
        cursor: pointer;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    }
}

.btn-s {
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
}

.btn-light {
    color: var(--black);
    background-color: var(--white);
}

.btn-accent {
    color: var(--black);
    background-color: var(--accent);

    &:disabled {
        color: var(--white);
        background-color: var(--med-grey);
    }
}

.btn-line {
    color: var(--black);
    background: none;
    border: 2px solid var(--black);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
}

.btn-icon-danger {
    color: var(--white);
    background: var(--danger);
    transition: all 0.4s ease-in-out;
    
    &:hover {
        background: var(--danger-hover);
    }
}

.btn-icon-white {
    color: var(--black);
    background-color: var(--white);
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: var(--accent);
    }
}

.btn-delete {
    color: var(--danger);
    transition: all 0.4s ease-in-out;

    &:hover {
        color: var(--black);
        background-color: var(--danger);
    }
}

.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border: 0;
    border-radius: 18px;
    color: var(--grey);
    background: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: var(--black);
        background-color: var(--light-grey);
    }
}

// Inputs style

input {
    &:is(:-webkit-autofill, :-webkit-autofill:focus) {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}

.input {
    position: relative;
    height: 44px;
    padding: 16px;
    border-radius: 6px;
    outline: none;
    border: 0;
}

.input-accent-lined {
    display: flex;
    align-items: center;
    color: var(--black);
    border: 2px solid var(--grey);
    font-size: 14px;

    &::placeholder {
        color: var(--ternary-grey);
    }

    &:focus {
        border: 2px solid var(--black);
    }

    &:focus-within {
        border: 2px solid var(--black);
    }

    .mat-mdc-select-min-line {
        letter-spacing: normal;
        color: var(--black);
    }

    .mat-mdc-select-placeholder {
        letter-spacing: normal;
        color: var(--ternary-grey);
    }
}

.input-accent-lined-with-icon {
    display: flex;
    align-items: center;
    padding-right: 4px;
    justify-content: space-between;
    border: 2px solid var(--grey);

    &:focus-within {
        border: 2px solid var(--black);
    }

    .input-with-icon {
        height: 20px;
        border: 0;
        outline: 0;
        background: none;
    }

    .input-btn {
        height: 30px;
        width: 30px;
        border: 0;
        outline: 0;
        background: none;
        cursor: pointer;
        transition: color 0.4s ease-in-out;

        &:hover {
            color: var(--second);
        }
    }
}

.select-accent-lined {
    padding: 16px;
    border-radius: 6px;
    border: 2px solid var(--grey);
    color: var(--black);

    &:focus {
        border: 2px solid var(--black);
    }
}

.link-light {
    color: var(--white);
    text-decoration-line: none;
}

// Disable style

.disabled-select {
    border: 2px solid var(--med-grey);
    color: var(--med-grey);

    .mat-mdc-select-min-line {
        color: var(--med-grey);
    }
}

// Errors style

.input-invalid {
    border: 2px solid var(--danger);
}

.error-box {
    height: 14px;
    width: 100%;

    app-input-error {
        display: flex;
        height: 14px;
        width: 100%;
    }
}

.red-text {
    font-size: 16px;
    font-weight: 700;
    color: var(--danger);
}

// Global containers style

.menu-container {
    position: absolute;
    background: var(--black);
    border-radius: 6px;

    .list {
        display: flex;
        flex-direction: column;
        padding: 6px;

        .btn-list {
            border: 0;
            outline: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            color: var(--white);
            background: var(--black);
            border-bottom: 1px solid var(--dark-grey);
            cursor: pointer;
            transition: border-bottom 0.4s ease-in-out;

            &:hover {
                border-bottom: 1px solid var(--white);
            }
        }
    }
}

.width-100 {
    width: 100%;
}

// SnackBar style

.error-snackbar {
    --mat-mdc-snack-bar-button-color: var(--white) !important;
    --mdc-snackbar-container-color: var(--danger) !important;
    --mdc-snackbar-supporting-text-color: var(--white);
    border-radius: 6px;
}
  
.attention-snackbar {
    --mat-mdc-snack-bar-button-color: var(--white) !important;
    --mdc-snackbar-container-color: var(--accent) !important;
    --mdc-snackbar-supporting-text-color: var(--white);
    border-radius: 6px;
}
  
.success-snackbar {
    --mat-mdc-snack-bar-button-color: var(--white) !important;
    --mdc-snackbar-container-color: var(--black) !important;
    --mdc-snackbar-supporting-text-color: var(--white);
    border-radius: 6px;
}
