.card-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 260px;
    height: 260px;
    border-radius: 6px;
    background: var(--light-grey);
    outline: 2px solid var(--light-grey);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    }

    .card-image{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 260px;
        border-radius: 6px;

        .name {
            position: absolute;
            top: 12px;
            padding: 12px;
            background-color: var(--white);
            border-radius: 0 24px 24px 0;
        }

        .img {
            border-radius: 6px;
            max-width: 260px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .card-container {
        max-width: 220px;
        height: 220px;

        .card-image{
            width: 220px;
    
            .img {
                max-width: 220px;
            }
        }
    }
}