.page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 70px;

    .categories {
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        padding: 48px 0;
        gap: 24px;

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 24px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .page-container .categories {
        max-width: 1260px;
    }
}